---
interface Props {
    key: string;
    title: string;
    value: number;
}

const { key, title, value } = Astro.props;
---

<div class="h-full">
    <div 
        id={`radial-chart-${key}`} 
        aria-label={`${title} score: ${value * 100}%`}
        role="img"
    ></div>
    <div 
        data-chart={key} 
        data-title={title} 
        data-value={value}
        class="hidden"
    />
</div>

<script>
    import ApexCharts from "apexcharts";

    import { getChartOptions, getColorBasedOnValue } from '../utils/chartConfig';

    document.addEventListener("DOMContentLoaded", () => {
        const chartElements = document.querySelectorAll('[data-chart]');

        chartElements.forEach((element) => {
            const key = element.getAttribute('data-chart');
            const value = Number(element.getAttribute('data-value')) * 100;
            const title = element.getAttribute('data-title');

            const chartElement = document.getElementById(`radial-chart-${key}`);
            
            if (chartElement && typeof ApexCharts !== "undefined") {
                const chart = new ApexCharts(
                    chartElement, 
                    getChartOptions({ value, title })
                );
                chart.render();
            }
        });
    });
</script>
